.filtros {
  display: flex;
  gap: 16px;
}

.pais-option,
.pais-selected,
.time-option,
.time-selected {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bandeira,
.escudo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 4px;
}
