<div class="card flex justify-center">
  <p-selectbutton
    [options]="stateOptions"
    [(ngModel)]="value"
    optionLabel="label"
    optionValue="value"
    aria-labelledby="basic"
    (onChange)="aoTrocarModo($event.value)"
  />
</div>

<div class="card filtros">
  <div class="campo" *ngIf="value === 'pais' || value === 'time'">
    <p-select
      [options]="paises"
      [(ngModel)]="paisSelecionado"
      optionLabel="nome"
      optionValue="id"
      placeholder="Selecione um país"
      (onChange)="aoSelecionarPais($event.value)"
      [filter]="true"
      filterBy="nome"
      [showClear]="true"
    >
      <ng-template pTemplate="option" let-pais>
        <div class="pais-option">
          <img
            class="bandeira"
            [src]="'http://localhost:8080' + pais.bandeira"
            alt="{{ pais.nome }}"
          />
          <span>{{ pais.nome }}</span>
        </div>
      </ng-template>

      <ng-template pTemplate="selectedValue" let-pais>
        <div class="pais-selected" *ngIf="pais">
          <img
            class="bandeira"
            [src]="'http://localhost:8080' + pais.bandeira"
            alt="{{ pais.nome }}"
          />
          <span>{{ pais.nome }}</span>
        </div>
      </ng-template>
    </p-select>

    <p-select
      *ngIf="value === 'time'"
      [options]="times"
      [(ngModel)]="timeSelecionado"
      optionLabel="nome"
      optionValue="id"
      placeholder="Selecione um time"
      [disabled]="!paisSelecionado"
      (onChange)="aoSelecionarTime($event.value)"
      [filter]="true"
      filterBy="nome"
      [showClear]="true"
      emptyMessage="Nenhum time encontrado"
    >
      <ng-template pTemplate="option" let-time>
        <div class="time-option">
          <img
            class="escudo"
            [src]="'http://localhost:8080' + time.escudo"
            alt="{{ time.nome }}"
          />
          <span>{{ time.nome }}</span>
        </div>
      </ng-template>

      <ng-template pTemplate="selectedValue" let-time>
        <div class="time-selected" *ngIf="time">
          <img
            class="escudo"
            [src]="'http://localhost:8080' + time.escudo"
            alt="{{ time.nome }}"
          />
          <span>{{ time.nome }}</span>
        </div>
      </ng-template>
    </p-select>
  </div>

  <div class="jogador-box" *ngIf="jogadores.length > 0">
    <div *ngFor="let j of jogadores" class="jogador-item">
      <img
        [pTooltip]="j.nome"
        tooltipPosition="bottom"
        class="jogador-foto"
        [src]="'http://localhost:8080' + j.foto"
        alt="{{ j.nome }}"
      />
    </div>
  </div>
</div>
