/* estilos globais seus, se quiser */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  padding-right: 1rem;
}

.add {
  display: flex;
  justify-content: end;
}

.mt {
  margin-top: 0.5rem;
}

.card {
  padding: 1rem;
}
